.callout[data-callout="idea"] {
  --callout-color: 245, 213, 55;
  --callout-icon: lucide-lightbulb;
}

.callout[data-callout-metadata="notitle"] {
  .callout-title {
    display: none;
  }
}

.callout[data-callout-metadata="badge"] {
  display: flex;
  align-items: flex-start;
  width: fit-content;

  .callout-title-inner {
    display: none;
  }

  .callout-content p {
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
    margin-left: 0.5rem;
  }

  .callout-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1.5rem;
  }

  &[data-callout="quote"] {
    --callout-icon: lucide-lightbulb;
  }
}
